.clear{
	clear: both;
	position: relative;
}
.lme_hide{
	display: none;
}
.local_market_explorer{
	margin-top:5px;
}

/* RESET */
.local_market_explorer div,
.local_market_explorer dl,
.local_market_explorer dt,
.local_market_explorer dd,
.local_market_explorer ul,
.local_market_explorer ol,
.local_market_explorer li,
.local_market_explorer h1,
.local_market_explorer h2,
.local_market_explorer h3,
.local_market_explorer h4,
.local_market_explorer h5,
.local_market_explorer h6,
.local_market_explorer pre,
.local_market_explorer code,
.local_market_explorer form,
.local_market_explorer fieldset,
.local_market_explorer legend,
.local_market_explorer input,
.local_market_explorer button,
.local_market_explorer textarea,
.local_market_explorer p,
.local_market_explorer blockquote,
.local_market_explorer th,
.local_market_explorer td {
	margin: 0;
	padding: 0;
}

.local_market_explorer fieldset,
.local_market_explorer img {
	border: 0;
}

.local_market_explorer li {
	list-style: none;
}

.local_market_explorer h1,
.local_market_explorer h2,
.local_market_explorer h3,
.local_market_explorer h4,
.local_market_explorer h5,
.local_market_explorer h6 {
	font-size: 100%;
	font-weight: normal;
}
.local_market_explorer div{
	text-align: left;
}

/* HEADER */
.local_market_explorer .lme_header{
	position: relative;
	height:50px;
}
.local_market_explorer .lme_header .lme_left{
	background-image: url(../images/header.png);
	float:left;
	width:11px;
	height: 50px;
}
.local_market_explorer .lme_header .lme_middle{
	background-image:url(../images/header-middle.png);
	background-repeat:repeat-x;
	height:43px;
	margin:0 11px;
	padding:7px 11px 0 0;
	text-align:center;
}
.local_market_explorer .lme_header .lme_right{
	background-image: url(../images/header.png);
	background-position: 11px 0;
	position:absolute;
	width:11px;
	height: 50px;
	top:0;
	right:0;
}

/* CONTAINER */
.local_market_explorer .lme_container {
	margin-top:20px;
}
.local_market_explorer .lme_container_cap{
	position: relative;
}
.local_market_explorer .lme_container_cap div{
	width: 9px;
	background-image: url(../images/container.png);
	position: absolute;
	top:0;
}
.local_market_explorer .lme_container_top div, .local_market_explorer .lme_container_top h3{
	height: 28px;
}
.local_market_explorer .lme_container_top h3{
	background-image:url(../images/container-middle-top.png);
	background-repeat:repeat-x;
	font-size:12px;
	font-weight:bold;
	height:21px;
	margin:0 9px;
	padding-left:5px;
	padding-top:7px;
	text-transform:uppercase;
}
.local_market_explorer .lme_container_top_left{
	background-position:0 0;
	left:0;
	top:0;
}
.local_market_explorer .lme_container_top_right{
	background-position:9px 0;
	right:0;
	top:0;
}
.local_market_explorer .lme_container_body{
	border-left: 1px solid #A1A1A1;
	border-right: 1px solid #A1A1A1;
	padding: 6px;
}
.local_market_explorer .lme_container_bottom{
	border-bottom:1px solid #A1A1A1;
	height:8px;
	margin:0 9px;
}
.local_market_explorer .lme_container_bottom div{
	height: 9px;
}
.local_market_explorer .lme_container_bottom_left{
	background-position:0 9px;
	left:-9px;
}
.local_market_explorer div.lme_container_bottom_middle{
	border-bottom: 1px solid #A1A1A1;
	background-image:none;
	width: 100%;
}
.local_market_explorer .lme_container_bottom_right{
	background-position:9px 9px;
	right:-9px;
}

/* INSIDE CONTAINER (GENERAL) */
.local_market_explorer h4{
	font-size:13px;
	font-weight:bold;
	margin-bottom:5px;
	margin-top:15px;
	text-decoration:underline;
}
.lme_float_50{
	float: left;
	width: 50%;
	margin-top: 15px;
}
tr.lme_primary{
	
}
tr.lme_secondary{
	background-color: #F1F4FF;
}
td.lme_number{
	text-align: center;
}
td.lme_primary_value{
	color: #C16D16;
}

/* ZILLOW HOME VALUE INDEX */
#lme_zillow_header
{
	text-align: center;
}
#lme_zillow_header h4
{
	text-decoration: none;
}
#lme_zillow_index h3{
	color:#4959B8;
	font-size:20px;
	font-weight:bold;
	margin:8px 0;
}
#lme_zillow_region_chart{
	width: 400px;
	height: 200px;
}
#lme_zillow_home_value{
	text-align: center;
	overflow: hidden; // IE7 issue fix
}
#lme_zillow_affordability_data{
	width: 100%;
}
#lme_zillow_affordability_data th{
	font-weight: bold;
	text-align: center;
}
#lme_zillow_affordability_data td{
	padding: 5px;
}
#lme_zillow_see_more_link{
	text-align: center;
	margin-top: 15px;
}
#lme_zillow_logo{
	text-align: right;
	margin-top: 15px;
}

/* ABOUT AREA */
#lme_about_area_flickr{
	background-color:#EEEEEE;
	min-height: 90px;
	_height: 90px;
	float: right;
	margin-left: 10px;
	width:175px;
	padding-bottom: 10px;
}
#lme_about_area_flickr h5{
	font-weight: bold;
	text-align: center;
	margin: 5px 0;
}
#lme_about_area_description{
	margin-bottom: 15px;
}
#lme_about_area_flickr_photos{
	width: 158px;
	margin: 0 auto;
}
#lme_about_area_flickr_photos img{
	margin: 2px;
}
#lme_about_area_flickr_provided_by{
	text-align: right;
	margin: 5px 9px 0 0;
}
#lme_about_area_recent_posts{
	float: left;
}

/* ZILLOW RECENTLY SOLD */
.local_market_explorer .lme_recently_sold_item_photo{
	float: left;
	margin: 0 4px 4px 0;
}
#lme_market_snapshot{
	display: none;
}
#lme_zillow_region_chart_container{
	width: 400px;
	text-align: center;
	margin: 0 auto;
}
#lme_zillow_region_chart_actions{
	text-align: right;
}
.local_market_explorer #lme_market_snapshot{
}
.local_market_explorer #lme_recently_sold{
}
#lme_recently_sold_link{
	margin-top: 20px;
}

/* EDUCATION.COM */
.local_market_explorer #lme_schools_panel_left_container{
	width: 64%;
	margin-right: 2%;
	padding: 0;
	float: left;
}
.local_market_explorer .lme_schools_list_container{
	height: 325px;
	overflow: hidden;
	margin: 10px 0 0 0;
}
.local_market_explorer .lme_schools_panel_right{
	background-color:#EEEEEE;
	height: 360px;
	float:left;
	margin:0;
	padding:3px 2% 2%;
	width:30%;
}
.local_market_explorer .lme_schools_list_subheader{
	background-color:#E6EBFE;
	font-weight:bold;
	margin-top:0;
	padding:2px 2px 2px 10px;
}
.local_market_explorer .lme_schools_panel_right h5{
	font-weight: bold;
	margin: 15px 0 5px 0;
}
ul.lme_schools_list{
	text-indent:0 !important;
	padding: 0 !important;
}
.lme_schools_list li{
	clear:both;
	margin:0 !important;
	height:65px;
}
.lme_schools_list li div, .lme_schools_list li a{
	white-space: nowrap;
}
.lme_schools_list .lme_school_name{
	font-weight:bold;
}
#lme_schools_pager{
	width: 50%;
	margin: 0 auto;
	font-weight: bold;
}
#lme_schools_pager_previous{
	float: left;
	display: block;
}
#lme_schools_pager_next{
	float: right;
	display: block;
}
#lme_educationdotcom_footer{
	margin-top: 15px;
}
#lme_educationdotcom_see_more_link{
	text-align: center;
	width: 64%;
	float: left;
	margin-top: 6px;
}
#lme_educationdotcom_logo{
	text-align: right;
	float: left;
	width: 36%;
}

/* WALK SCORE */
#lme_walk_score_container{
	width: 400px;
	margin: 0 auto;
}
.local_market_explorer #ws-walkscore-tile{
	position:relative;
	text-align:left;
	overflow: hidden;
}
.local_market_explorer #ws-walkscore-tile *{
	float:none;
}
.local_market_explorer #ws-footer{
	position:absolute;
	top:268px;
	left:8px;
	width:488px;
	background-color:#FFF;
	height: 18px;
}
.local_market_explorer #ws-footer a,#ws-footer a:link{
	font:11px Verdana,Arial,Helvetica,sans-serif;
	margin-right:6px;
	white-space:nowrap;
	padding:0;
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
.local_market_explorer #ws-footer a:hover{
	color:#777;
	text-decoration:none
}
.local_market_explorer #ws-footer a:active{
	color:#b14900
}

/* YELP */

#lme-yelp-map{
	width: 428px;
	height: 300px;
	border:1px solid #999999;
	background-color: white;
}

.lme-yelp-preview{
	text-align: left;
	min-height: 100px;
}
.lme-yelm-preview-description{
	font-size: 0.9em;
}
.lme-yelp-preview a{
	font-weight: bold;
	font-size: 1.0em;
}
.lme-yelp-preview img{
	vertical-align:middle;
}
.lme-yelp-preview em{
	font-size:8px;
}

.lme-yelp-item{
	text-align: left;
	margin-top: 5px !important;
}
.lme-yelp-item-description{
	font-size: 0.9em;
}
.lme-yelp-item a{
	font-weight: bold;
	font-size: 1.0em;
}
.lme-yelp-item img{
	vertical-align:middle;
}

/* TEACHSTREET */

.local_market_explorer .ts_item {
	margin-bottom: 15px;
}
.local_market_explorer .ts_item p {
	margin-bottom: 0px;
}
.local_market_explorer .ts_item_image {
	float:left;
	width: 55px;
}
.local_market_explorer .ts_item_details {
	float:left;
	width: 345px;
}
.local_market_explorer .ts_footer{
	text-align: center;
}

